{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block extrastyle %}
<!-- my custom stylesheet -->
<link rel="stylesheet" href="{% static "customadmin/css/custom.css" %}">
{% endblock %}

{% block branding %}
<h1 is="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a><h1>
{% endblock %}

{% block header %}{{ block.super }}
<div class="custom-nav">My custom nav</div>
{% endblock %}

{% block nav-global %}{% endblock %}
